/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.content{
  background-size: cover;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: inline;
  background-color: white;
}
.header{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-image: linear-gradient(0deg, rgba(255,255,255,0.4),white);

}
.menu{
  z-index: 2;
  text-align: center;
  display: inline;
}
.btn{
  display: inline-block;
  color: white;
  font-weight: 700;
  font-size: 5vw;
  font-family: Arial, Verdana, serif;
  background: #8D2833;
  border: none;
  border-radius: 15vw;
  padding: 5% 10%;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 8%;

}
.btn:hover{
  background: #890c1c;
}

#btnmenu{

  display: inline-block;
  color: #000000;
  font-weight: 700;
  font-size: 3vw;
  font-family: Arial, Verdana, serif;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 15vw;
  padding: 5% 10%;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 5px;
}

#logobig{
  display: none;
}

#btnmenu:hover{
  background: #ffffff;
}


btnborder{
  width: 100%;
}

header ul{

  padding: 0;
  list-style: none;
  display: inline;
  text-align: center;
}
header li{
  display: inline-block;
}
header li a{
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 3vw;
  border: none;
  padding: 2.5vw;
  cursor: pointer;
  font-family: Arial, Verdana, serif;
}
header li a:hover{
  color: #555555;
}
a{
  color: black;
}
#logo{
  max-width:20vw;
  display: inline;
  float:left;
  margin:10px;
}
.socials{
  float: right;
  z-index: 2;
  display: inline;
}
.icons{

  max-width: 5vw;
  margin: 5px;

}

.socials2{
  display: none;
}

#imgLogo{
  max-width: 60vw;
  margin-top: 20vh;
  display: none;
}
#booksy{
  text-align: center;
}
.footer{
  background-color: white;
  text-align: center;
  font-weight: lighter;
  color: #8d8d8d;
}
h1{
  font-family: Arial, Verdana, serif;
  font-size: 10vw;
  line-height: 8vw;
  color: white;
  font-weight: lighter;
  margin-top: 30vw;
}
h2{
  font-family: Arial, Verdana, serif;
  color: white;
  font-weight: lighter;
  font-size: 5vw;
}
.contentblock{
  width: 100%;
  background-color:blue;
  padding: 0;
  margin-bottom: 20px;
  z-index: 2;
  background-image: url('/images/mainbackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
* {
  text-align: center;
}
.text{
  max-width:100%;
  margin: auto;
  padding: 10px;

}
.block{
  border-radius: 20px;
  box-shadow: 40px 20px 20px rgba(0, 0, 0, 0.1);
  padding-bottom:50px;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0 0 1px 1px;
  border-style: solid;
  margin:15%;

}

#offermid{
  border-radius: 20px;
  padding-bottom:50px;
  box-shadow: 40px 20px 20px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0 0 1px 1px;
  border-style: solid;
  margin:  5% 15%;

}
.block .btn{

}

.offers{
  margin: auto;

}


.offerimg{
  width: 100%;
  border-radius: 20px 20px 0 0;
}

h4 {
  font-family: Arial, Verdana, serif;
  color: gray;
  font-size: 5vw;
  font-weight: 300;
  line-height: 6vw;
  margin:0 10px;
  text-align: center;
}

.h4bold {
  font-family: Arial, Verdana, serif;
  color: black;
  font-size: 6vw;
  font-weight: bolder;
}


h3{
  font-family: Arial, Verdana, serif;
  font-size: 6vw;
  color: #555555;


}
.h3mini{
  font-family: Arial, Verdana, serif;
  font-size: 5vw;
  color: #555555;
  font-weight: lighter;
}

#crown{
  margin: auto;
  max-width: 25vw;
  max-height: 15vw;
}

.shadow{
  box-shadow: 40px 40px 40px rgba(150, 150, 150, 0.05);
  padding-bottom:100px;
  border-radius:20px 20px 20px 20px;

}

.massageType{
}

.massageBackground{
  width: 100%;
  height: 50vw;
  z-index: -1;
  top: 0;
  left: 0;
}
.description{
  position: relative;
  text-align: center;
  width: 80%;
  padding-top: 20px;
  margin: auto;
  margin-top: 3vw;
  margin-bottom: 30px;
  box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);
  padding-bottom:50px;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0 0 1px 1px;
  border-style: solid;
  background-color: white;
  z-index: 1;
}

.description2{
  text-align: center;
  width: 80%;
  padding-top: 20px;
  margin: auto;
  margin-top: -20vw;
  margin-bottom: 50px;
  box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);
  padding-bottom:50px;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0 0 1px 1px;
  border-style: solid;
  background-color: white;
  z-index: 1;
}

.description3{
  position: relative;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: -20vw;
  margin-bottom: 50px;

  background-color: white;
  z-index: 1;
}

h5{
  color: #8D2833;
  text-align: center;
  font-size: 6vw;
}
.offermini{
  padding-top:5%;
  max-width: 90%;
  margin: auto;

  width:60%;
}
.left{
  float: left;
  width: 50%;
}

.right{
  float: right;
  width: 50%;
}

h6{
  z-index: 0;
  color: #ffffff;
  background-color: rgba(253, 31, 55, 0.23);
  max-width: 80%;
  font-size: 9vw;
  margin: auto;
  margin-top: 5vw;
  margin-top: -25vh;
}

#booksy{
  margin-top: 25vh;
  width:50%;
}

.banner{
  padding: 4vw;
}

#bon1{
  max-width: 40%;
  margin-right: 15%;
}

#bon2{
  max-width:80%;
}

.h4small{
  font-size:50px;
}

.dark{
  position: relative;
  z-index: 2;
  color: #ffffff;
  max-width: 80%;
  font-size: 8vw;
  margin:auto;
  text-shadow: 1px 1px #adadad;
}
.redbanner{
  width:100%;
  background-color:#8b0000;
  margin:auto;
  background-image: linear-gradient(25deg, #7a1212, #640c0c);
  padding: 10vw 0 20vw 0;
  margin-bottom: 6vw;

}


table.priceTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #3f1616;
  border-style: solid;
  color: black;
  font-size: 5vw;
}

table.priceTable td, table.priceTable th {
  border-width: 2px;
  border-color: #3f1616;
  border-style: solid;
  padding: 3px;
}

table.priceTable thead {
  background-color: #7c3232;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  text-align: center;
  margin: auto;
  display: none;
  background-color: #f9f9f9;
  width: 60%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0;
  z-index: 4;
}

.dropdown-content h4:hover{
  background-color: #ffffff;
  width: 100%;
  cursor: pointer;
}

.dropdown-content a:hover{
  background-color: #ffffff;
  width: 100%;
  cursor: pointer;
}

.dropdown-content h4{


  font-size: 5vw;
  font-weight: lighter;
  line-height: 12vw;
  margin:auto;
  width: 80%;

}

a{
  font-family: Arial, Verdana, serif;
  color: #555555;
  text-decoration: none;
}

li a{
  font-family: Arial, Verdana, serif;
  color: #000000;
  text-decoration: none;
}

#textMenu{
  display: none;
}

#closeIcon{
  display: none;
  float: right;
  font-weight: 800;
  margin: auto;
  margin-left: 10px;
  color: #000000;
  font-size: 4vw;
}

#arrow{
  font-size:10vw;
  margin: 0;
}


#blockMedia{
  display: inline-block;
}

#blockFull{
  display: none;

}


@media only screen and (min-width: 768px){

  #textMenu{
    display: inline-block;
  }


  .dropdown {
    display: none;
  }


  h2{
    font-size: 5vw;
  }

  header li a{
    padding: 1.5vw;
    font-size: 1.8vw;
  }

  #logo{
    max-width:15vw;
    margin:10px;
  }

  .icons{
    max-width: 3vw;
    margin: 10px;
  }
  #imgLogo{
    display: block;
    max-width: 60vw;
    margin-top: 20vh;
    display: inline-block;
  }

  .massageBackground{
    height: 30vw;
    z-index: -2;
  }

  h6{
    margin-top: -20vh;
    font-size: 6vw;
  }

  #logobig {
    display: inline-block;
    max-width: 7vw;
    float: left;
    padding: 20px;
  }

  .socials2{

    display: inline-block;
  }


}

@media only screen and (min-width: 1424px) {

  #textMenu {
    display: inline-block;
  }

  .dropdown {
    display: none;
  }

  .container {
    background-color: #ffffff;
  }

  header li a {
    padding: 1.5vw;
    font-size: 1vw;
  }

  .icons {
    max-width: 3vw;
    margin: 10px;
  }

  #logo {
    max-width: 6vw;
    margin: 10px;
  }

  h1 {
    margin: 2vw;
    font-size: 5vw;
    line-height: 5vw;
  }

  h2 {
    font-size: 1.5vw;
    margin: 0 5vw;
  }

  #imgLogo {
    display: block;
    margin-top: 30vh;
    display: inline-block;
    max-width: 10vw;
  }

  h6 {
    font-size: 4vw;
  }

  .massageBackground {
    height: 20vw;
  }

  .description {
    padding-top: 20px;

  }


  .description2{

  }

  h4 {
    font-size: 1vw;
    font-weight: lighter;
    line-height: 2vw;
    margin: 5% 50% 0 10%;
    float: left;
  }

  .offermini {

    margin: 10%;
    margin-top: -27%;
    float: right;
    max-width: 35%;

  }

  h5 {
    font-size: 2vw;
    margin: 0.5vw;
  }

  .offerimg {
    width: 100%;
    border-radius: 40px 40px 0 0;

  }


  h4 {
    font-size: 1vw;
    line-height: 2vw;
    margin: 0 10px;
  }

  .h4bold {
    font-size: 1vw;
  }


  h3 {
    font-size: 2vw;


  }

  .h3mini {
    font-size: 1vw;
  }

  #crown {
    max-width: 15vw;
    max-height: 5vw;
  }

  .block {
    max-width: 20%;
    border-radius: 20px;
    box-shadow: 40px 20px 20px rgba(0, 0, 0, 0.1);
    padding-bottom: 100px;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 0 0 1px 1px;
    border-style: solid;
    margin: 10%;

  }

  #offermid {
    max-width: 20%;
    border-radius: 20px;
    padding-bottom: 100px;
    box-shadow: 40px 20px 20px rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 0 0 1px 1px;
    border-style: solid;
    margin: 5% 15%;

  }

  #btn2 {
    max-width: 100%;
    padding: 1% 4%;
    margin: 5%;
    font-weight: 500;
    font-size: 0.9vw;
  }

  #logobig {
    display: inline-block;
    max-width: 7vw;
    float: left;
    padding: 20px;
  }

  a {
    z-index: 10;
  }

  .header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), white);

  }

  .offers {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .btn {
    font-size: 0.8vw;
    font-weight: 600;
    margin-top: auto;
    padding: 3% 15%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .block {
    width: 50%;
    margin: 40px 2%;
    display: flex;
    flex-direction: column;
  }

  #crown {
    margin: auto;
    max-width: 25vw;
    max-height: 15vw;

  }

  #blockMedia {
    display: none;
  }

  #blockFull {
    display: inline-block;
    margin-top: -50px;
  }

  .offermini {
    max-height: 100%;
    width: 30%;
    padding-top: 30%;
    margin-right: 35%;
  }

  table.priceTable {
    font-size: 2vw;
  }

  .btn3 {
    font-size: 0.8vw;
    font-weight: 600;
    float: right;
    padding: 3% 15%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .socials2{
    display: inline-block;
  }

  .dark{
    font-size: 4vw;
  }

  #description4{
  height: 25vw;
  }

}



