h1{
  font-family: Arial, Verdana, serif;
  font-size: 140px;
  line-height: 140px;
  color: white;
  font-weight: lighter;
  margin: 0;
}
h2{
  font-family: Arial, Verdana, serif;
  color: white;
  font-weight: lighter;
}
h3{
  font-family: Arial, Verdana, serif;
  font-size: 25px;
  color: #555555;
}
.h3mini{
  font-family: Arial, Verdana, serif;
  font-size: 25px;
  color: #555555;
  font-weight: lighter;
}
h4 {
  font-family: Arial, Verdana, serif;
  color: #555555;
  font-size: 15px;
  font-weight: lighter;
  line-height:50px;
  margin:0 10px;
  text-align: center;
}
.h4bold {
  font-family: Arial, Verdana, serif;
  color: black;
  font-size: 40px;
  font-weight: bolder;
}
ul{

  padding: 0;
  list-style: none;
  display: inline;
  text-align: center;
}
li{
  display: inline-block;
}
li a{
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  border: none;
  padding: 20px 16px 0 16px;
  cursor: pointer;
  font-family: Arial, Verdana, serif;
}
li a:hover{
  color: #555555;
}
a{
  color: black;
}
.btn{
  display: inline-block;
  color: white;
  font-weight: 700;
  font-size: 20px;
  font-family: Arial, Verdana, serif;
  background: #8D2833;
  border: none;
  border-radius: 50px;
  padding: 30px 80px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 30px;
  max-width: 50%;
}
.btn:hover{
  background: #890c1c;
}



#menu{
  background-color: darkorchid;
  width: 100vw;
  height: 100px;
  position: fixed;
}

#logo{
  background-color: #8D2833;
  width: 10%;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;

}

#links{
  background-color: chartreuse;
  width: 70%;
  height: 100%;
  float: left;
  text-align: center;
  margin: auto;
}

#socials{
  background-color: mediumblue;
  width: 20%;
  height: 100%;
  float: left;
  text-align: center;

}

.icons {
  max-height: 50%;
}

#logoimg{
  margin: 0 auto;
  max-height: 80px;
  padding-left: 10px;
}

#siteDescribe{
  padding-top: 100px;
  height: 90vh;
  background-color: aqua;
  text-align: center;
  background-image: url("/images/mainbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.panel{
  float: left;
  width: 23%;
  height: 90vh;
  text-align: center;
  border-radius: 20px;
  box-shadow: 40px 20px 20px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0 0 1px 1px;
  border-style: solid;

}

.offerimg{
  width: 100%;
  border-radius: 20px 20px 0 0 ;
}

.panelset{
  width: 100%;
  margin: 20%;
  padding-bottom: 10px;
  background-color: white;
}
